@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import 'tailwindcss';

@layer base {
  * {
    @apply border-gray-200;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-gray-900;
    font-family: 'Inter', sans-serif;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
